apiVersion: apps/v1
kind: DaemonSet
metadata:
  name: cluster-impairment-initializer
  namespace: default
  labels:
    k8s-app: cluster-impairment-initializer
spec:
  selector:
    matchLabels:
      name: cluster-impairment-initializer
  template:
    metadata:
      labels:
        name: cluster-impairment-initializer
    spec:
      nodeSelector:
        {{ node_selector_key }}: {{ node_selector_value }}
      containers:
        - name: impairment-worker
          image: quay.io/joconnel/cluster-impairment-operator-worker
          env:
          - name: INTERFACE
            value: "{{ impairment_interface }}"
          - name: BANDWIDTH_LIMIT
            value: "{{ impairment_bandwidth }}"
#          - name: DURATION
#            value: "{{ impairment_duration }}"
          - name: LATENCY
            value: "{{ impairment_latency }}"
          - name: IMPAIRMENT_DIRECTION
            value: "{{ impairment_direction }}"
          - name: PACKET_LOSS
            value: "{{ impairment_loss }}"
          - name: START_TIME
            value: "{{ start_time_epoch }}"
          - name: LINK_FLAPPING
            value: "{{ impairment_link_flapping }}"
          - name: LINK_FLAP_DOWN_TIME
            value: "{{ impairment_link_flap_down_time }}"
          - name: LINK_FLAP_UP_TIME
            value: "{{ impairment_link_flap_up_time }}"
#          - name: DRY_RUN
#            value: "true"
          securityContext:
            privileged: true
          volumeMounts:
          - mountPath: /lib/modules
            name: modprobe-modules-dir
      volumes:
      - name: modprobe-modules-dir
        hostPath:
          path: /lib/modules
      hostNetwork: true
      dnsPolicy: Default
